modules = ["php-8.4"]
[agent]
expertMode = true

[nix]
channel = "stable-25_05"

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "monitor"

[[workflows.workflow]]
name = "monitor"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = """
php run_demo.php && echo \"

Demo complete. To run full monitoring: php monitor.php --once\" && sleep 10 && php check_status.php"""

[workflows.workflow.metadata]
outputType = "console"
